@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zain:wght@200;300;400;700;800;900&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Open Sans';
} 

#bg-overlay {
    background-image: url(/assets/images/hero-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: auto;
    width: auto;
}
header {
    width: auto; 
    height: auto;
} 

nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 25px;
} 

nav li:first-child {
    margin-right: auto;
    color: white;
}

ul {
    display: flex;
}  

li {
    list-style: none; 
    margin: 0 15px;
}

a {
    color: white;
    text-decoration: none;
    list-style: none;
} 

a:hover {
    color: rgb(138, 138, 138);
}

#me {
    color: white;
}