@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zain:wght@200;300;400;700;800;900&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Open Sans';
} 

h2 {
    font-size: 22px; 
    font-weight: 500;
}

h3 {
    font-size: 20px; 
    font-weight: 400;
}

#bg-overlay {
    background-image: url(../images/hero-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: auto;
    width: auto;
}
header {
    width: auto; 
    height: auto;
} 

nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 25px;
} 

nav li:first-child {
    margin-right: auto;
    color: white; 
    font-size: 22px; 
    font-weight: 500;
}
nav a {
    font-size: 18px;
    font-weight: 300;
}

ul {
    display: flex;
}  

li {
    list-style: none; 
    margin: 0 15px;
}

a {
    color: white;
    text-decoration: none;
    list-style: none;
} 

a:hover {
    color: rgb(138, 138, 138);
}

#me {
    color: white;
    display: flex; 
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 15vh;
} 

.jg-photo {
    height: auto;
    width: 25vh;
    border-radius: 50%;
    border: 3px solid whitesmoke;
}

.jg-text {
    margin-top: 8vh;
    margin-left: 20px;
}

.jg-text h2 {
    margin-bottom: 5px;
} 

#portfolio {
    color: white; 
    background-color: rgba(65, 65, 65, 0.539); 
    border-radius: 20px; 
    margin: 0 20px;
    padding-bottom: 20px;
    border: 1px solid rgba(245, 245, 245, 0.195);
}

#portfolio > h2 {
    margin: 20px;
    font-size: 22px; 
    font-weight: 500;
}

#portfolio1 {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto; 
}

#portfolio1 > div {
    padding: 10px;
    border-radius: 20px; 
    background-color: rgba(65, 65, 65, 0.539); 
    border: 1px solid rgba(245, 245, 245, 0.195); 
    max-width: 350px;
    text-align: center;
    margin: 0 15px;
}

#portfolio1 img {
    height: auto;
    width: 300px;
    border-radius: 30px;
    border: 2px solid whitesmoke;
}

.port-content ul {
    display: inherit;
    list-style-position: inside; 
    color: white;
}

.port-content li {
    list-style: disc;
}

.port-content h2, h3 {
    margin: 8px 0;
}

.port-content ul {
    margin: 3px 0;
}

.port-content h3, ul {
    text-align: left;
}

.button {
    margin: 30px 0 15px 0;
}

.button a {
    background-color: rgba(65, 65, 65, 0.837); 
    border: 1px solid rgba(245, 245, 245, 0.195); 
    padding: 10px;
    border-radius: 10px;
} 

.button a:hover {
    background-color: rgba(134, 134, 134, 0.479); 
    border: 1px solid rgba(0, 0, 0, 0.713); 
    color: rgba(0, 0, 0, 0.713);
    padding: 10px;
    border-radius: 10px;
}

footer {
    padding: 25px 0;
    color: white; 
    font-size: 12px;
    text-align: center;
}

.mobile {
    display: none;
}


@media (max-width: 1280px) { 

    #portfolio > h2 {
        margin: 20px 20px 0 20px;
    }

    #portfolio1 {
        flex-wrap: wrap; 
    } 

    #portfolio1 > div {
        margin-top: 20px;
    }
}

@media (max-width: 768px) { 

    #portfolio1 > div {
        max-width: none;
    }

    #portfolio1 img {
        width: 450px;
    } 

}

@media (max-width: 567px) { 

    #portfolio1 img {
        width: 400px;
    }  

    #me {
        display: block; 
        text-align: center;
    }

    .jg-text {
        margin-top: 10px;
    }

    .mobile {
        display: flex;
    }

    .notShow {
        display: none;
    } 

    nav li {
        font-size: 22px;
    }

}

@media (max-width: 495px) { 

    #portfolio1 img {
        width: 300px;
    }  

    nav ul {
        padding: 20px 10px;
    }

}

@media (max-width: 444px) { 

    #portfolio1 img {
        width: 290px;
    }  

    nav ul {
        padding: 20px 8px;
    }

    #portfolio > h2 {
        font-size: 18px;
    }

    nav li:first-child {
        font-size: 18px;
    } 
    
    nav li {
        font-size: 18px;
    }

    h2 {
        font-size: 18px; 
    }
    
    h3 {
        font-size: 18px; 
    } 

    footer p {
        font-size: 8px;
    }

    p, li {
        font-size: 15px;
    } 

} 

@media (max-width: 407px) { 

    #portfolio1 img {
        width: 280px;
    }  

    nav ul {
        padding: 20px 5px;
    }

    #portfolio > h2 {
        font-size: 15px;
    }

    nav li:first-child {
        font-size: 15px; 
    } 

    nav li {
        font-size: 15px;
    }

    h2 {
        font-size: 15px; 
    }
    
    h3 {
        font-size: 15px; 
    } 

    footer p {
        font-size: 8px;
    }

    p, li {
        font-size: 13px;
    }

} 

@media (max-width: 379px) { 

    #portfolio1 img {
        width: 250px;
    }  
}

@media (max-width: 340px) { 

    #portfolio1 img {
        width: 230px;
    }  
}